<div class="App">
  <div class="contains">
    <input type="file" id="upload-document"  (change)="extractor($event)"/>
    <div class="dropdown-container" id="input-language" (click)="toggle()">
      <div class="dropdown-toggle">
        <span class="selected" id="select" data-value="auto">choose languages</span>
      </div>
      <ul class="dropdown-menu">
        <li class="option active">DropDown Menu Item 1</li>
        <li class="option">DropDown Menu Item 2</li>
      </ul>
    </div>
  </div>
  <div class="textExtract">
    <textarea name="textarea" id="fiels" cols="80" rows="20"></textarea>
  </div>
</div>